.element {
  align-items: center;
  background-color: $color-header;
  border-radius: 4px;
  display: flex;
  height: 3em;
  justify-content: center;
  margin: 1rem auto;
}

.photo-wrapper {
  margin: auto;
  max-height: 12em;
  max-width: 12em;
}

.photo {
  border-radius: 50%;
}

.social-wrapper {
  padding: 1em;
}

.social {
  padding: 0 0.5em;
}