.lnk-e {
  align-items: center;
  background-color: $color-header;
  border-radius: 4px;
  display: flex;
  height: 3em;
  justify-content: center;
  margin: 1rem auto;
}

.ph-wr {
  margin: auto;
  max-height: 12em;
  max-width: 12em;
}

.ph-img {
  border-radius: 50%;
}

.sc-wr {
  padding: 1em;
}

.sc-e {
  padding: 0 0.5em;
}