.element {
  align-items: center;
  background-color: $color-header;
  border-radius: 4px;
  display: flex;
  height: 3em;
  justify-content: center;
  margin: 1rem auto;
}

.social-wrapper {
  padding: 1em;
}

.social-link {
  padding: 0 0.5em;
}