<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Meta tags -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />

    <!-- CSS -->
    {% set css = load_data(path='styles.css', format='plain') %}
    <style>{{ css | safe }}</style>
</head>

<body>
    {% block content %}{% endblock %}
    {% include 'includes/counter.html' %}
</body>

</html>